{% if __SELF__.currentUser.isCurrentUser(__SELF__.item.id) %}
{% elseif __SELF__.currentUser.isFollowing(__SELF__.item.id) %}
    <button href="#" class="btn btn--following" 
        data-request-loading 
        data-request-flash
        data-request="{{__SELF__}}::onUnfollow"
        data-request-data="id: {{__SELF__.item.id}}">
        Unfollow
    </button>
{% else %}
    <button href="#" class="btn btn--follow" 
        data-request-loading 
        data-request-flash
        data-request="{{__SELF__}}::onFollow"
        data-request-data="id: {{__SELF__.item.id}}">
        Follow
    </button>
{% endif %}