<br>
<select class="responsefields <?= $formResponseFieldId ?>" name="<?= $name; ?>[]" multiple="multiple" style="width: 75%">
    <optgroup label="Indexes">
    <?php
       if(count($dbIndexes)) {
           foreach($dbIndexes as $dbIndex)
           {
              $selected = '';
              if ($value) {
                  if (in_array($dbIndex['column_name'], $value)) {
                      $selected = 'selected="selected"';
                  }
              }
              echo '
                  <option value="'.$dbIndex['column_name'].'" '.$selected.' >'.$dbIndex['column_name'].'</option>
              ';
           }
        }
    ?>
    </optgroup>

    <optgroup label="Other Columns">
    <?php
       if(count($dbFields)) {
           foreach($dbFields as $dbField)
           {
              $selected = '';
              if ($value) {
                  if (in_array($dbField['column_name'], $value)) {
                      $selected = 'selected="selected"';
                  }
              }
              echo '
                  <option value="'.$dbField['column_name'].'" '.$selected.' >'.$dbField['column_name'].'</option>
              ';
           }
        }
    ?>
    </optgroup>
</select>

<a style="display: none;" id="<?= $formResponseFieldId ?>" data-request="onTableChange" data-request-success="updateFields(data, '<?= $formResponseFieldId ?>')">
</a>

<script type="text/javascript">
    $(function() {
        window.newTableName = "";

        $(document).on('change', 'select[id*="<?= $formRelatedFieldSelector ?>"]', function(e) {
            window.newTableName = $(this).val();

            $('.<?= $formResponseFieldId ?>').val(null);

            $('.<?= $formResponseFieldId ?>').select2({
                placeholder: '<?= trans("nitm.api::lang.mapping.responsefields_holder") ?>'
            });

            $("#<?= $formResponseFieldId ?>").click();
        });

        $('.<?= $formResponseFieldId ?>').select2({
            placeholder: '<?= trans("nitm.api::lang.mapping.responsefields_holder") ?>'
        });

    });
</script>
