<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('nitm/api/eventhandler') ?>">Event Handlers</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

     <?= Form::open(['class'=>'layout-item stretch layout-column']) ?>

        <?= $this->formRender() ?>

        <div class="form-buttons layout-item fix">
            <div class="loading-indicator-container">
                <button 
                    type="submit" 
                    data-request="onSave" 
                    data-request-data="redirect:0" 
                    data-hotkey="ctrl+s" 
                    data-hotkey-mac="cmd+s" 
                    data-load-indicator="Creating Event Handler..." 
                    class="btn btn-primary">
                    Create
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter"
                    data-hotkey-mac="cmd+enter"
                    data-load-indicator="Creating Event Handler..."
                    class="btn btn-default">
                    Create and Close
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('nitm/api/eventhandler') ?>">Cancel</a>
                </span>
            </div>
        </div>

        <?= Form::close() ?>

<?php else: ?>
    <div class="padded-container">
        <div class="control-breadcrumb">
            <?= Block::placeholder('breadcrumb') ?>
        </div>
        <p class="flash-message static error"><?= e($this->fatalError) ?></p>
        <p><a href="<?= Backend::url('nitm/api/eventhandler') ?>" class="btn btn-default">Return to Event Handler list</a></p>
    </div>
<?php endif ?>
