<div data-control="toolbar">
    <div class="callout fade in callout-info no-subheader">
        <div class="header">
            <i class="icon-info-circle"></i>
            <h3><?= e(trans('nitm.api::lang.event_automation.create_header')) ?></h3>
        </div>
        <div class="content">
            <p><?= e(trans('nitm.api::lang.event_automation.create_p1')) ?></p>
        </div>
    </div>
</div>