<?= Form::open(['class'=>'layout-item stretch layout-column']) ?>
    <?= $this->formRender() ?>

    <div class="form-buttons layout-item fix">
        <div class="loading-indicator-container">
            <button
                type="submit"
                data-request="onSave"
                data-hotkey="ctrl+s"
                data-hotkey-mac="cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.creating')) ?>"
                class="btn btn-primary">
                <?= e(trans('backend::lang.form.create')) ?>
            </button>
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter"
                data-hotkey-mac="cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.creating')) ?>"
                class="btn btn-default">
                <?= e(trans('backend::lang.form.create_and_close')) ?>
            </button>
            <span class="btn-text">
                or <a href="<?= Backend::url('nitm/api/mappings') ?>"><?= trans('backend::lang.form.cancel') ?></a>
            </span>
        </div>
    </div>

<?= Form::close() ?>
<script type="text/javascript">
   $('#Form-field-Mapping-relatedtable').on('change', function (event) {
      $('.responsefields.Mapping-responsefields').html(' ').append('<option selected="selected">Loading fields for '+$(event.target).val()+' ... one sec</option>');
   });
</script>
