<div data-control="toolbar">
    <div class="callout fade in callout-warning no-subheader">
        <div class="header">
            <i class="icon-exclamation-triangle"></i>
            <h3><?= e(trans('nitm.api::lang.event_automation.edit_header')) ?></h3>
        </div>
        <div class="content">
            <p><?= e(trans('nitm.api::lang.event_automation.edit_p1')) ?></p>
            <p><?= trans('nitm.api::lang.event_automation.edit_p2') ?></p>
        </div>
    </div>

    <? /*$this->relationRender('eventhandler')*/ ?>
</div>