<?= Form::open(['class'=>'layout-item stretch layout-column']) ?>
    <?= $this->formRender() ?>

    <div class="form-buttons layout-item fix">
        <div class="loading-indicator-container">
            <button 
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s"
                data-hotkey-mac="cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-primary">
                <?= e(trans('backend::lang.form.save')) ?>
            </button>
            <button 
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter"
                data-hotkey-mac="cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-default">
                <?= e(trans('backend::lang.form.save_and_close')) ?>
            </button>
            <span class="btn-text">
                or <a href="<?= Backend::url('nitm/api/mappings') ?>"><?= trans('backend::lang.form.cancel') ?></a>
            </span>
            <button
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                data-request-confirm="<?= e(trans('backend::lang.form.action_confirm')) ?>">
            </button>
        </div>
    </div>

<?= Form::close() ?>