<div id="posts-list" class="{{class}}">
    {% if __SELF__.posts()|length %}
        {% for post in __SELF__.posts() %}
           <div class="post media-object" style="flex-wrap:wrap">
                <div class="small-12 medium-6 large-4 media-object-section" style="flex: 1 1 auto">
                    <a href="{{'post'|page({id: post.slug})}}">
                        <div class="image" style="background-image: url('{{post.image.path}}')">
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-6 large-8 media-object-section" style="flex: 1 1 auto">
                    <h4 class="title">
                        <a href="{{'post'|page({id: post.slug})}}">
                            {{post.title}}
                        </a>
                    </h4>
                    <h5 class="author">
                        <span class="create-info">{{post.author.name ? post.author.name : __SELF__.property('defaultAuthor')}} | {{post.date}}</span>
                    </h5>
                    <p class="excerpt">{{post.excerpt}}...</p>
                    <a href="{{'post'|page({id: post.slug})}}">...read more</a>
                </div>
            </div>
        {% endfor %}
        {% component 'moreButtonPosts' %}
    {% else %}
    <div class="cell small-12">
        <h2>No posts found</h2>
    </div>
    {% endif %}
</div>
<style>

    .post {
        flex-wrap: wrap;
    }
    .post .image { 
        height: 100%;
        min-height: 250px;
        background-position: center center;
        background-size: cover;
    }
</style>