<br>
{% if content.previous or content.next %}
<div class="project-navigation">
    <div class="grid-x align-middle">
        <div class="cell small-4 text-left">
            {% if content.previous %}
                <a class="monochrome title" href="/project/{{content.previous.slug}}">
                    {{content.previous.title}}
                </a>
            {% endif %}
        </div>
        <div class="cell small-4 text-center">
            <a class="monochrome title" href="/projects"><span class="all-projects-link fi-thumbnails"></span></a>
        </div>
        <div class="cell small-4 text-right">
            {% if content.next %}
                <a class="monochrome title" href="/project/{{content.next.slug}}">
                    {{content.next.title}}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<style>
    .all-projects-link {
        font-size: 2rem;
    }

    .project-navigation {
        background-color: #ddd;
        padding: 1rem;
    }
</style>
