<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('nitm/content/rating') ?>">Rating</a></li>
    <li>
        <?= e($this->pageTitle) ?>
    </li>
</ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>
