<div id="{{__SELF__.containerId}}" class="b__users b__users--grid">
    {% for follow in __SELF__.users %}
    <div class="b__users_item">
        <div class="user-pic">
            <a href="{{'profile'|page({id:follow.follower.username})}}"><img src="{{follow.follower.avatar.path}}" /></a>
        </div>
        <div class="user-name">
            <a href="{{'profile'|page({id:follow.follower.username})}}">
                {{follow.follower.name}}
            </a>
        </div>
        <div class="user-place">
            {{follow.follower.address}}
        </div>
        <div class="user-actions">
            {% component 'userActions' type='follow' item=follow.follower %}
        </div>
    </div>
    {% endfor %}
    <div class="b__items-controls">
        {% component 'moreButtonFollowers' %}
    </div>
</div>