<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

    <div style="clear:both;"></div>

    <?php if ($this->property('show_totals')): ?>
        <div
            style="float: left; margin-right: 25px;"
            class="control-chart"
            data-control="chart-pie"
            data-size="150"
            data-center-text="<?= $logcount ?>">
            <ul>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.relationcount')) ?> <span><?= $relationcount ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.logcount')) ?> <span><?= $logcount ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.method_get')) ?> <span><?= $method_get ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.method_post')) ?> <span><?= $method_post ?></span></li>
            </ul>
        </div>
    <?php endif ?>

    <?php if ($this->property('show_details')): ?>
        <div
            style="float: left;"
            class="control-chart"
            data-control="chart-pie"
            data-size="150"
            data-center-text="<?= $status_failed + $status_blocked_ip ?>">
            <ul>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.status_ok')) ?> <span><?= $status_ok ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.status_failed')) ?> <span><?= $status_failed ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.status_blocked_ip')) ?> <span><?= $status_blocked_ip ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.status_method_fail')) ?> <span><?= $status_method_fail ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.status_param_not_match')) ?> <span><?= $status_param_not_match ?></span></li>
                <li><?= e(trans('nitm.api::lang.widgets.statistics.status_closed')) ?> <span><?= $status_closed ?></span></li>
            </ul>
        </div>
    <?php endif ?>

    <div style="clear:both;"></div>
</div>