<?php if ($formModel->fullurl): ?>
    <div class="form-control control-simplelist with-icons">
        <ul>
            <li class="oc-icon-link">
            <?php
                echo $formModel->fullurl;
                /*
                $parse = parse_str($formModel->fullurl, $parameters);
                echo '<pre>';
                print_r($parameters);
                echo '</pre>';
                */
            ?>
            </li>
        </ul>
    </div>
<?php endif ?>