<div class="padded-container container-flush">
    <?= $this->makeHintPartial('nitm_logs_hint', 'hint', ['type' => 'info', 'title' => e(trans('nitm.api::lang.logs.page_title')), 'icon' => 'icon-info']) ?>
</div>

<?php
if (!$this->admin_key || $this->admin_key == 'write_api_admin_key') {
    echo '
    <div class="padded-container container-flush">
        '.$this->makeHintPartial('nitm_check_configs_hint', 'hint_configs', ['type' => 'danger', 'title' => e(trans('nitm.api::lang.logs.missing_configs')), 'icon' => 'icon-wrench']).'
    </div>
    ';
}
?>

<?= $this->listRender() ?>
