<div class="form-control control-simplelist with-icons" style="padding: 10px 20px 2px 20px;">
    <ul>
        <li class="oc-icon-clock-o" id="timeNow" style="padding-top: 0;"></li>
    </ul>
</div>

<script>
    var timeNowMilliseconds = '<?= date("F j\, Y H:i:s") ?>';

    function startTime(timeNowMilliseconds) {

        var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var today = new Date(timeNowMilliseconds);
        var yr = today.getFullYear();
        var mn = today.getMonth();
        var dt = today.getDate();
        var dy = today.getDay();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var ampm = h >= 12 ? 'PM' : 'AM';
            h = h % 12;
            h = h ? h : 12; // the hour '0' should be '12'
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('timeNow').innerHTML = dt+" "+months[mn]+" "+yr+", "+days[dy]+" <i style='color: #C30;'>"+h+":"+m+":"+s+" "+ampm+"</i>";

        today.setSeconds(today.getSeconds() + 1);
        setTimeout(function() {
            startTime(today)
        }, 1000);
    }

    function checkTime(i) {
        // add zero in front of numbers < 10
        if (i < 10)
            i = "0" + i;

        return i;
    }

    startTime(timeNowMilliseconds);
</script>
